*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* div {
    padding: 20px;
    border-bottom: 1px solid darkblue;
} */

#mainContainer {
    flex-grow: 1;
    overflow: auto;
}

#mainContainer > div {
    padding: 20px;
    border-bottom: 1px solid darkblue;
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    
}

.list {
    display: block;
}

.table {
    display: inline;
}